venv/
env/
.venv/
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.mypy_cache/
.cache/
.ipynb_checkpoints/
.env
venv_scripts/
.DS_Store
.vscode/
.idea/
dist/
build/
*.egg
*.sqlite3
instance/
coverage.xml
htmlcov/
pip-wheel-metadata/
__pycache__/
